.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internext Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #99a1af transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #99a1af;
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: transparent;
}
